@import url('https://fonts.googleapis.com/css2?family=Foldit:wght@700&display=swap');

/* Header */

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  height: 65px;
  border-bottom: 1px #ccc solid;
}

.header__left {
  display: flex;
  align-items: center;
}

.header__logo {
  margin: 0 0 5px 0;
  height: 60px;
  width: 60px;
}

.header__line {
  margin: 0 4px;
  height: 20px;
  width: 1px;
  background-color: #999;
}

.header__heading {
  margin-left: 2px;
  font-family: "Foldit", "Work Sans";
  font-size: 36px;
  font-weight: 700;
  filter: brightness(0.5);
}

.header__create {
  padding: 10px 32px;
  background-color: #000;
  border-radius: 3px;
  color: #fff;
  font-size: 13px;
  transition: opacity 100ms;
}

.header__create:hover {
  opacity: 0.8;
  cursor: pointer;
}

/* Row */

.row__container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 128px;
  height: 45px;
  border-bottom: 1px #ccc solid;
}

.row__icon {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 10px;
  height: 100%;
  width: 40px;
  background-color: transparent;
  border: none;
  transition: background-color 100ms;
}

.row__icon:hover {
  cursor: pointer;
  background-color: #eee;
}

.row__mode {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  transition: opacity 200ms;
}

.row__dark {
  opacity: 0;
}

/* Settings / Help */

.settings__container,
.help__container {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  backdrop-filter: blur(4px);
}

.settings__box,
.help__box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  padding: 48px;
  width: 600px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 3px 12px -1px rgba(0, 0, 0, .3);
}

.settings__close,
.help__close {
  position: absolute;
  top: 24px;
  right: 24px;
  padding: 4px;
}

.settings__close:hover,
.help__close:hover {
  cursor: pointer;
}

.settings__heading {
  margin-bottom: 16px;
  font-size: 16px;
  text-align: center;
}

.settings__row {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  border-bottom: 1px #ccc solid;
}

.settings__link {
  color: #444;
}

.help__heading {
  font-size: 24px;
}

.help__subheading {
  margin: 12px 0 4px 0;
  font-size: 16px;
  font-weight: 400;
}

.help__list {
  padding: 0 0 0 24px;
  font-weight: 300;
}

.help__para {
  margin: 12px 0;
  font-weight: 300;
}

.help__groups {
  display: flex;
  margin-left: 8px;
}

.help__colors {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.help__color {
  height: 20px;
  width: 20px;
  border-radius: 4px;
}

.help__yellow {
  background-color: #f9df6d;
}

.help__green {
  background-color: #a0c35a;
}

.help__blue {
  background-color: #b0c4ef;
}

.help__purple {
  background-color: #ba81c5;
}

.help__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 8px;
  padding: 2px 0
}

/* Main */

.main__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main__heading {
  margin: 22px 0 14px 0;
  font-weight: 400;
}

.main__box {
  width: 640px;
  height: 360px;
}

.main__words {
  position: relative;
}

.main__mistakes {
  margin: 16px 0;
  display: flex;
  gap: 8px;
}

.main__buttons {
  display: flex;
  gap: 16px;
}

.main__button {
  padding: 12px 16px;
  font-size: 16px;
  border: #7f7f7f 1px solid;
  color: #7f7f7f;
  border-radius: 32px;
  font-weight: 400;
}

.main__shuffle {
  border-color: #000;
  color: #000;
}

/* Solved */

.solved__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2px;
  margin: 8px 0 0 8px;
  height: 80px;
  width: 624px;
  border-radius: 8px;
}

.solved__container0 {
  background-color: #f9df6d;
}

.solved__container1 {
  background-color: #a0c35a;
}

.solved__container2 {
  background-color: #b0c4ef;
}

.solved__container3 {
  background-color: #ba81c5;
}

.solved__category {
  font-size: 20px;
}

.solved__words {
  font-size: 17px;
  font-weight: 400;
}

/* Word */

.word__container {
  position: absolute;
  padding: 8px;
  transition: top 300ms, left 300ms;
}

.word__box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 150px;
  background-color: #efefe6;
  border-radius: 8px;
  transition: background-color 300ms;
}

.word__word {
  font-size: 20px;
  transition: color 300ms;
}