/* Header */

.header__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  height: 65px;
  border-bottom: 1px #ccc solid;
}

.header__left {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header__logo {
  margin: 0 0 5px 0;
  height: 60px;
  width: 60px;
}

.header__image {
  height: 100%;
  width: 100%;
}

.header__line {
  margin: 0 4px;
  height: 20px;
  width: 1px;
  background-color: #999;
}

.header__heading {
  margin: 0 0 7px 0;
  font-size: 36px;
}

.header__create {
  padding: 10px 32px;
  background-color: #000;
  border: none;
  border-radius: 3px;
  color: #fff;
  font-size: 13px;
  transition: opacity 100ms;
}

.header__create:hover {
  opacity: 0.8;
  cursor: pointer;
}